*{
    margin:0;
    padding:0;
}
p,ul,h2,a,img,table{
    margin-top: 7%;
}
p,a{
    font-size: 0.9rem;
}
ul, ol{
    display: flex;
	align-items: center;
	flex-direction:column;
    flex-wrap: wrap;
    
}
li::marker{
	text-align:right;
}
section li{ 
	max-width: 90%;
	text-align: center;
	width:fit-content;
    margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

section{
    display: flex;
    flex-direction: column;
    padding: 5%;
	text-align: center;

    font-family: Arial, Helvetica, sans-serif;
}
section h1{
    margin-right: 5%;
    margin-left: 5%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color:rgb(186,216,214);
}
h2{
    text-decoration: underline;
    color: rgb(92,126,181);
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    font-size: 125%;
}

    /*ici commence le header */
header{
    background-color:rgb(250,181,106);
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
}
header h1 {
    padding-top: 7%;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
/*ici commence le menu de navigation pour ordinateur*/
#menu-navigation-ordinateur{
    display: none;
}


/*ici ce termine le menu pour ordinateur*/
.logo-iut{
    width:27%;
    height: auto;
    margin-top: 0%;
}




/* ici ce termine le header*/

/*ici commence le menu de navigation pour téléphone*/

#menu-navigation-telephone summary{
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(250,185,163);
}
#menu-navigation-telephone ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

#menu-navigation-telephone li>a{
    text-decoration: none;
    color: black;
    
}

/*fin du nav téléphone*/
footer{
    padding-top: 20%;
    background-color:rgb(250,181,106);
}

@media (min-width: 1000px) {
    .logo-iut{
        width: 10%;
    }
/*on fait en sorte que lorsqu'on passe sur ordinateur le menu téléphone disparraisse*/
    #menu-navigation-telephone{
        display: none;
    }
    #menu-navigation-ordinateur{
        display: table-row;
        background-color:rgb(250,181,106);
    }
    #menu-navigation-ordinateur ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }
      
    #menu-navigation-ordinateur li {
        float: left;
    }
      
    #menu-navigation-ordinateur li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }
      
    #menu-navigation-ordinateur li a:hover {
        background-color: #111111;
    }
    p,ul,h2,a,img{
        margin-top: 2%;
    }
    p,a{
        font-size: 1.1rem;
    }
    section li{
        margin-top: 1%;
        font-size: 1.1rem;
    }
    body:not(#les-grandes-lignes){
        background-color: #eee;
    }
    section{
        margin-left: 15%;
        margin-right: 15%;
        background-color: white ;
    }
    footer{
        padding-top: 7%;
    }
}