.programme-img{
	width: 60%;
	margin-left: 20%;
}
/*Page 3 (Le campus)*/
#menu-rapide summary{
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(250,185,163);
}
#menu-rapide ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

#menu-rapide li>a{
    text-decoration: none;
    color: black;
}

/*page2*/

.parcour1
{
	background-color: #87CEEB;
}
.parcour2
{
	background-color: #90EE90;
}
.parcour3
{
	background-color: #FFA500;
}
.couleur1{
	background-color:violet;
}
.couleur2{
	background-color:mediumaquamarine;
}
.couleur3{
	background-color:mediumturquoise;

}
tr,table,th,td{
    border-collapse:collapse;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

/*th,td{
    font-size: 60%;
    padding: 0.5em;
}

/*page 4*/

#questionnaire
{
    padding:0%;
	display: grid;
	gap: 1.5% 1%;
}
form fieldset
{
	text-align: left;
	padding: 3%;
	border-radius:0.4em;
}
form fieldset:first-child
{
	display: flex;
	display: grid;
	grid: 1fr 1fr/ 45% 45%;
	flex-direction: column;
	grid-area: 1/1/1/span 2;
}
form fieldset:nth-child(2)
{
	grid-area: 2/1/2/span 2;
}
form fieldset:nth-child(3)
{
	grid-area: 3/1/3/span 2;
	display: flex;
	flex-direction:column;
}
fieldset p
{
	display: flex;
	flex-direction:column;
	margin-top:0em;
	grid-area: 3/2/1/span 2;
}
p label
{
	padding-left: 1.5em;
	width:70%;
}
label:not(p label)
{
	display: flex;
	flex-direction:column;
}
input:not(p input), textarea
{
	margin-left:1.5em;
	margin-right:0.5em;
	width: 55%;
	border-radius:0.4em;
	height:2em;
}
#boutton fieldset{
    border:none;
    display: grid;
    grid-column: 1fr 1fr;
    
}
button:first-child
	{
		background-color:#4B0082;
		color:#FFFFFF;
	}
	button:last-child
	{
        grid-row: 1/3;
		background-color:#FFFFFF;
		color:#4B0082;
	}
	button
	{
		
		border-radius:0.4em;
		border-color:#4B0082;
		padding-left:12%;
		padding-right:12%;
		padding-bottom:7%;
		padding-top:7%;
	}


@media (min-width: 1000px) {
    #contact{
        padding-top: 0.5rem;
        text-align: center;
    }
    #contact p,h3{
        font-family: Arial, Helvetica, sans-serif;
    }
    

    #BDE,#restaurants-universitaires,#Etudes-etranger,#SSU,#Theatre,#sport-et-langue{
        margin: 3%;
    }}
    /*page 4*/
    form fieldset:first-child
	{
		display: flex;
		flex-direction: column;
	}
	input:not(p input), textarea
	{
		width: 90%
	}
	fieldset
	{
		border:none;
	}
	legend
	{
		display:none;
	}
	fieldset:last-child
	{
		display: grid;
		grid: 1fr/1fr 1fr;
		margin-left:1.3em;
		margin-right:0.3em;
		
	}
}

