
/*Page 3 (Le campus)*/
#menu-rapide summary{
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(250,185,163);
}
#menu-rapide ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

#menu-rapide li>a{
    text-decoration: none;
    color: black;
}

@media (min-width: 1000px) {
    #contact{
        padding-top: 0.5rem;
        text-align: center;
    }
    #contact p,h3{
        font-family: Arial, Helvetica, sans-serif;
    }
    td,th{
        font-size: 100%;
    }

}

/*page 4*/
table
{
	border-collapse : collapse;
	border : 0.12em black solid;
}
td
{
	border : 0.07em black solid;
	padding: 0.5em;
	
}
th
{
	border-right: 0.07em black solid;
	border-left: 0.07em black solid;
	padding: 0.5em;
}
td[rowspan]+td, td[rowspan]
{
	border-top: 0.12em black solid;
}
.parcours1
{
	background-color: #87CEEB;
}
.parcours2
{
	background-color: #90EE90;
}
.parcours3
{
	background-color: #FFA500;
}


/*td[rowspan]:first-child
{
	background-color: #90EE90;
	
}*/

    #BDE,#restaurants-universitaires,#Etudes-etranger,#SSU,#Theatre,#sport-et-langue{
        margin: 3%;
    }
}

