
/*Page 3 (Le campus)*/
#menu-rapide summary{
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(250,185,163);
}
#menu-rapide ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

#menu-rapide li>a{
    text-decoration: none;
    color: black;
}

@media (min-width: 1000px) {
    #contact{
        padding-top: 0.5rem;
        text-align: center;
    }
    #contact p,h3{
        font-family: Arial, Helvetica, sans-serif;
    }
    td,th{
        font-size: 100%;
    }

}

/*page 2*/
table
{
	border-collapse : collapse;
	border : 0.12em black solid;
}
td
{
	border : 0.07em black solid;
	padding: 0.5em;
	
}
th
{
	border-right: 0.07em black solid;
	border-left: 0.07em black solid;
	padding: 0.5em;
}
td[rowspan]+td, td[rowspan]
{
	border-top: 0.12em black solid;
}
.parcours1
{
	background-color: #87CEEB;
}
.parcours2
{
	background-color: #90EE90;
}
.parcours3
{
	background-color: #FFA500;
}

/*td[rowspan]:first-child
{
	background-color: #90EE90;
	
}*/

#BDE,#restaurants-universitaires,#Etudes-etranger,#SSU,#Theatre,#sport-et-langue{
        margin: 3%;
    }

/*page 4*/

form
{
	display: grid;
	gap: 1.5% 1%;
}
form fieldset
{
	text-align: left;
	padding: 0.7em;
	border-radius:0.4em;
}
form fieldset:first-child
{
	display: flex;
	display: grid;
	grid: 1fr 1fr/ 45% 45%;
	flex-direction: column;
	grid-area: 1/1/1/span 2;
}
form fieldset:nth-child(2)
{
	grid-area: 2/1/2/span 2;
}
form fieldset:nth-child(3)
{
	grid-area: 3/1/3/span 2;
	display: flex;
	flex-direction:column;
}
fieldset p
{
	display: flex;
	flex-direction:column;
	margin-top:0em;
	grid-area: 3/2/1/span 2;
}
p label
{
	padding-left: 1.5em;
	width:70%;
}
label:not(p label)
{
	display: flex;
	flex-direction:column;
}
input:not(p input), textarea
{
	margin-left:1.5em;
	margin-right:0.5em;
	width: 55%;
	border-radius:0.4em;
	height:2em;
}
fieldset:last-child
{
	border:none;
	display: flex;
	flex-direction: row;
	display:grid;
	grid: 1fr /65% 35%;
	gap: 1.5% 1%;
	margin-left:1.5em;
	margin-right:0.5em;
		
}
button:first-child
	{
		background-color:#4B0082;
		color:#FFFFFF;
	}
	button:last-child
	{
		background-color:#FFFFFF;
		color:#4B0082;
	}
	button
	{
		border-radius:0.4em;
		border-color:#4B0082;
		padding-left:3em;
		padding-right:3em;
		padding-bottom:0.6em;
		padding-top:0.6em;
	}

@media (max-width: 1024px)
{
	form fieldset:first-child
	{
		display: flex;
		flex-direction: column;
	}
	input:not(p input), textarea
	{
		width: 90%
	}
	fieldset
	{
		border:none;
	}
	legend
	{
		display:none;
	}
	fieldset:last-child
	{
		display: flex;
		flex-direction: row;
		display: grid;
		gap: 0% 1%;
		grid: 1fr/ 106% 55%;
		margin-left:1.3em;
		margin-right:0.5em;
	}
	
}